# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ieppo
DB_USER=ieppo_user
DB_PASSWORD=tu_password_seguro

# Tesseract
TESSERACT_CMD=/usr/bin/tesseract

# App
APP_ENV=production
SECRET_KEY=algo-largo-y-aleatorio